*{
    color: white;
}
*:focus {  
    outline: none;  
    box-shadow: none; /* 一些浏览器可能使用box-shadow来显示焦点 */  
}
*:not(input):not(textarea):not([contenteditable=true]) { /* 禁止用户选中文本 */
    user-select: none;
    -webkit-tap-highlight-color: transparent;
}  
button:focus,  
input[type="button"]:focus,  
input[type="submit"]:focus {  
    outline: none;  
    box-shadow: none;  
}
body{
    background-color: black;
}
.container_control_container{
    display: flex;
    justify-content: center;
}
.container_control{
    position: relative;width: 100%;
}
.container_control_buttons{
    background-color: rgb(0, 0, 0,0);
}
.button_control {
    background: none;
    border: none;
    padding: 15px 15px;
    border-radius: 10px;
    cursor: pointer;
}
.button_control:hover {
    background: rgba(170, 170, 170, 0.062);
    transition: 0.5s;
}
.container_control_joystick{
    height: 1000px;
}