#joystickInfo {
  position	: absolute;
  width		: 100%;
  text-align	: center;
}
#joystickContainer {
  width		: 100%;
  height		: 100%;
  overflow	: hidden;
  padding		: 0;
  margin		: 0;
  user-select	: none;
  background-color:rgb(255, 255, 255);
}
*{
  touch-action: none;
}
*:focus {  
  outline: none;  
  box-shadow: none; /* 一些浏览器可能使用box-shadow来显示焦点 */  
}  
button:focus,  
input[type="button"]:focus,  
input[type="submit"]:focus {  
  outline: none;  
  box-shadow: none;  
}